* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(253, 251, 251);
}

header {
    position: fixed;
    top: 0;
    background-color: #eb6e6e;
    width: 100%;
    height: 4em;
    text-align: center;
}

header h1 {
    padding: 0.5em;
}

main {
    padding: 0.5em;
    margin: 5em 1em 1em 1em;
    background-color: #e0d3b8;
    border: 5px solid #e0d3b8;
    border-radius: 10px;
}

#minha_foto {
    display: block;
    width: 300px;
    margin: 1em 1em 1em 1em;
}

